In [2]:
import pandas as pd
import requests
from config import settings

In [3]:

# Use `dir` to list attributes
dir(settings)

['Config',
 '__abstractmethods__',
 '__annotations__',
 '__class__',
 '__class_getitem__',
 '__class_vars__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__fields__',
 '__fields_set__',
 '__format__',
 '__ge__',
 '__get_pydantic_core_schema__',
 '__get_pydantic_json_schema__',
 '__getattr__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pretty__',
 '__private_attributes__',
 '__pydantic_complete__',
 '__pydantic_computed_fields__',
 '__pydantic_core_schema__',
 '__pydantic_custom_init__',
 '__pydantic_decorators__',
 '__pydantic_extra__',
 '__pydantic_fields__',
 '__pydantic_fields_set__',
 '__pydantic_generic_metadata__',
 '__pydantic_init_subclass__',
 '__pydantic_on_complete__',
 '__pydantic_parent_namespace__',
 '__pydantic_post_init__',
 '__pydantic_private__',
 '__pydantic_root_model__',
 '__pydantic_serializer__',
 '__pydantic_setattr_handlers__',
 '__pydantic_validator__',
 '__reduce__',
 '__reduce_ex__',
 '__replace__',
 '__repr__',
 '__repr_args__',
 '__repr_name__',
 '__repr_recursion__',
 '__repr_str__',
 '__rich_repr__',
 '__setattr__',
 '__setstate__',
 '__signature__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_calculate_keys',
 '_copy_and_set_values',
 '_get_value',
 '_iter',
 '_setattr_handler',
 '_settings_build_values',
 '_settings_warn_unused_config_keys',
 'alpha_api_key',
 'construct',
 'copy',
 'db_name',
 'dict',
 'from_orm',
 'json',
 'model_computed_fields',
 'model_config',
 'model_construct',
 'model_copy',
 'model_directory',
 'model_dump',
 'model_dump_json',
 'model_extra',
 'model_fields',
 'model_fields_set',
 'model_json_schema',
 'model_parametrized_name',
 'model_post_init',
 'model_rebuild',
 'model_validate',
 'model_validate_json',
 'model_validate_strings',
 'parse_file',
 'parse_obj',
 'parse_raw',
 'schema',
 'schema_json',
 'settings_customise_sources',
 'update_forward_refs',
 'validate']

In [8]:

ticker ="AAPL"
output_size = "compact"
data_type ="json"


url =  ("https://www.alphavantage.co/query?"
       "function=TIME_SERIES_DAILY&"
        f"symbol={ticker}&"
        f"outputsize={output_size}&"
        f"datatype={data_type}&"
         f"apikey={settings.alpha_api_key}")


print("url type:", type(url))
url

url type: <class 'str'>

'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=AAPL&outputsize=compact&datatype=json&apikey=ZMZX36IF6YEYTAG5'

In [9]:
#sending request
response = requests.get(url=url)

print("response type:", type(response))

response type: <class 'requests.models.Response'>

In [10]:
# Use `dir` on your `response`
dir(response)

['__attrs__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_content',
 '_content_consumed',
 '_next',
 'apparent_encoding',
 'close',
 'connection',
 'content',
 'cookies',
 'elapsed',
 'encoding',
 'headers',
 'history',
 'is_permanent_redirect',
 'is_redirect',
 'iter_content',
 'iter_lines',
 'json',
 'links',
 'next',
 'ok',
 'raise_for_status',
 'raw',
 'reason',
 'request',
 'status_code',
 'text',
 'url']

In [25]:
#status code value 200 means everything is okay 404 means path not found(response text in wrong path is not found)
response_code = response.status_code
print("code type:", type(response_code))
response_code

code type: <class 'int'>

200

In [12]:
response_text = response.text

print("response_text type:", type(response_text))
print(response_text[:200])

response_text type: <class 'str'>
{
    "Meta Data": {
        "1. Information": "Daily Prices (open, high, low, close) and Volumes",
        "2. Symbol": "AAPL",
        "3. Last Refreshed": "2025-10-27",
        "4. Output Size": "C

In [13]:
response_data = response.json()

print("response_data type:", type(response_data))

response_data type: <class 'dict'>

In [14]:
# Print `response_data` keys
response_data.keys()

dict_keys(['Meta Data', 'Time Series (Daily)'])

In [15]:
# Extract `"Time Series (Daily)"` value from `response_data`
stock_data =response_data["Time Series (Daily)"]

print("stock_data type:", type(stock_data))

# Extract data for one of the days in `stock_data`
stock_data['2025-10-17']

stock_data type: <class 'dict'>

{'1. open': '248.0200',
 '2. high': '253.3800',
 '3. low': '247.2700',
 '4. close': '252.2900',
 '5. volume': '49146961'}

In [24]:
#orient="index alligns the data frame in correct order from horizontal to vertical"
df_aapl = pd.DataFrame.from_dict(stock_data,orient="index",dtype=float)

print("df_aapl shape:", df_aapl.shape)
print()
print(df_aapl.info())
df_aapl.head(10)

df_aapl shape: (100, 5)

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 2025-10-27 to 2025-06-05
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    100 non-null    float64
 1   2. high    100 non-null    float64
 2   3. low     100 non-null    float64
 3   4. close   100 non-null    float64
 4   5. volume  100 non-null    float64
dtypes: float64(5)
memory usage: 4.7+ KB
None

            1. open  2. high    3. low  4. close   5. volume
2025-10-27  264.880  269.120  264.6501    268.81  44888152.0
2025-10-24  261.190  264.130  259.1800    262.82  38253717.0
2025-10-23  259.940  260.620  258.0101    259.58  32754941.0
2025-10-22  262.650  262.850  255.4300    258.45  45015254.0
2025-10-21  261.880  265.290  261.8300    262.77  46695948.0
2025-10-20  255.885  264.375  255.6300    262.24  90483029.0
2025-10-17  248.020  253.380  247.2700    252.29  49146961.0
2025-10-16  248.250  249.040  245.1300    247.45  39776974.0
2025-10-15  249.485  251.820  247.4700    249.34  33893611.0
2025-10-14  246.600  248.845  244.7000    247.77  35477986.0

In [19]:
# Convert `df_ambuja` index to `DatetimeIndex`
df_aapl.index=pd.to_datetime(df_aapl.index)

# Name index "date"
df_aapl.index.name="name"


print(df_aapl.info())
df_aapl.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2025-10-27 to 2025-06-05
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    100 non-null    float64
 1   2. high    100 non-null    float64
 2   3. low     100 non-null    float64
 3   4. close   100 non-null    float64
 4   5. volume  100 non-null    float64
dtypes: float64(5)
memory usage: 4.7 KB
None

            1. open  2. high    3. low  4. close   5. volume
name
2025-10-27   264.88   269.12  264.6501    268.81  44888152.0
2025-10-24   261.19   264.13  259.1800    262.82  38253717.0
2025-10-23   259.94   260.62  258.0101    259.58  32754941.0
2025-10-22   262.65   262.85  255.4300    258.45  45015254.0
2025-10-21   261.88   265.29  261.8300    262.77  46695948.0

In [20]:
# Remove numbering from `df_ambuja` column names
df_aapl.columns = [c.split(". ")[1] for c in df_aapl.columns]

print(df_aapl.info())
df_aapl.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2025-10-27 to 2025-06-05
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    100 non-null    float64
 1   high    100 non-null    float64
 2   low     100 non-null    float64
 3   close   100 non-null    float64
 4   volume  100 non-null    float64
dtypes: float64(5)
memory usage: 4.7 KB
None

              open    high       low   close      volume
name
2025-10-27  264.88  269.12  264.6501  268.81  44888152.0
2025-10-24  261.19  264.13  259.1800  262.82  38253717.0
2025-10-23  259.94  260.62  258.0101  259.58  32754941.0
2025-10-22  262.65  262.85  255.4300  258.45  45015254.0
2025-10-21  261.88  265.29  261.8300  262.77  46695948.0

In [21]:
def get_daily(ticker, output_size="full"):
    """Get daily time series of an equity from AlphaVantage API.

    Parameters
    ----------
    ticker : str
        The ticker symbol of the equity.
    output_size : str, optional
        Number of observations to retrieve. "compact" returns the
        latest 100 observations. "full" returns all observations for
        equity. By default "full".

    Returns
    -------
    pd.DataFrame
        Columns are 'open', 'high', 'low', 'close', and 'volume'.
        All are numeric.
    """
    # Create URL 
    url =  ("https://www.alphavantage.co/query?"
       "function=TIME_SERIES_DAILY&"
        f"symbol={ticker}&"
        f"outputsize={output_size}&"
        f"datatype={data_type}&"
         f"apikey={settings.alpha_api_key}")
 
    # Send request to API 
    response = requests.get(url=url)

    # Extract JSON data from response 
    response_data = response.json()

    # Check if there's been an error
    if "Time Series (Daily)" not in response_data.keys():
        raise Exception(
            f"Invalid API call.check that ticker symbol '{ticker}' is correct."
        )

    # Read data into DataFrame 
    stock_data = response_data["Time Series (Daily)"]
    df = pd.DataFrame.from_dict(stock_data, orient="index", dtype=float)

    # Convert index to `DatetimeIndex` named "date"
    df.index = pd.to_datetime(df.index)
    df.index.name = "date"

    # Remove numbering from columns 
    df.columns = [c.split(". ")[1]for c in df.columns]

    # Return DataFrame
    return df

In [22]:
# Test your function
df_aapl = get_daily(ticker="AAPL")

print(df_aapl.info())
df_aapl.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6537 entries, 2025-10-27 to 1999-11-01
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    6537 non-null   float64
 1   high    6537 non-null   float64
 2   low     6537 non-null   float64
 3   close   6537 non-null   float64
 4   volume  6537 non-null   float64
dtypes: float64(5)
memory usage: 306.4 KB
None

              open    high       low   close      volume
date
2025-10-27  264.88  269.12  264.6501  268.81  44888152.0
2025-10-24  261.19  264.13  259.1800  262.82  38253717.0
2025-10-23  259.94  260.62  258.0101  259.58  32754941.0
2025-10-22  262.65  262.85  255.4300  258.45  45015254.0
2025-10-21  261.88  265.29  261.8300  262.77  46695948.0

In [28]:
# Test your Exception
df_test = get_daily(ticker="TSLAA")

Exception: Invalid API call.check that ticker symbol 'TSLAA' is correct.